@use "../abstract/media-queries" as media-queries;
@keyframes blurry {
	50% {
		filter: blur(0px) contrast(1.25);
	}
}

.contact-us {
	.umn-logo {
		margin-bottom: 1em;
		opacity: 0.85 !important;
		@include media-queries.mobile-portrait {
			width: 15vmax;
		}
	}

	@include media-queries.mobile-portrait {
		gap: 0.5em;
	}
	&__cta {
		$size: 2rem;
		text-align: center;
		@include media-queries.mobile-portrait {
			$size: 1.5rem;
			width: 90%;
		}
		font-size: $size;
		&:last-child {
			font-size: $size * 0.85;
			// font-style: italic;
		}
	}
	&__bg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.5;
		transform: translate(-50%, -50%);
		filter: blur(1px) contrast(1.5);
		opacity: 0.25;
		animation: blurry 10s ease-in-out infinite both;
		z-index: -1;
	}
}
