@use "../abstract/colors" as colors;
section.solutions {
	background: colors.blueGrad1();

	.umn-pattern {
		position: absolute;
		z-index: 0;
		inset: 0;
		width: 200%;
		height: 100%;
	}

	.umn-title {
		align-self: flex-start;
		margin-left: 2.5ch;
	}

	.carousel {
		// height: 80%;
		width: 100%;
	}
}
