@charset "UTF-8";
/* === FULL CSS RESET === */
/* Resets most browser defaults to a clean slate */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove text decoration and default link color */
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  all: unset; /* Removes all user-agent styles */
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* Keep pointer for usability */
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove border from images inside links */
img {
  border-style: none;
  max-width: 100%;
  display: block;
}

/* Remove default form element styles */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Ensure buttons behave consistently */
button {
  cursor: pointer;
}

/* Remove default blockquote styles */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

/* Make HTML5 elements display block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Remove tap highlight (iOS Safari, some Android browsers) */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* disables callout menu on long press */
}

/* Prevent default text selection highlight */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Prevent default scrolling momentum “bounce” overscroll glow on iOS */
html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

/* Prevent zoom on input focus (Safari) */
input,
textarea,
select {
  font-size: 16px; /* Safari zooms if <16px */
}

/* Disable focus ring styles (if you don’t want them) */
:focus {
  outline: none !important;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #021731;
  scroll-behavior: smooth;
  overflow: auto;
  height: 100%;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
}

.main-section {
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100dvh;
  padding-top: 10dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  place-items: center;
  position: relative;
  overflow: hidden;
}

/* Global: remove scrollbars everywhere */
body {
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ (legacy Edge) */
  -ms-overflow-style: none;
}

/* Chrome / Safari / new Edge */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* optional */
}

img {
  pointer-events: none;
}

:root {
  font-size: clamp(0.91rem, 2vmax, 1.2rem);
}

h1,
.h1 {
  font-size: clamp(2.4240171693rem, 2vmax, 3.2320228924rem);
  text-align: center;
  font-weight: 400;
}

h2,
.h2 {
  font-size: clamp(1.9962494336rem, 2vmax, 2.6616659114rem);
  text-align: center;
  font-weight: 400;
}

h3,
.h3 {
  font-size: clamp(1.5684816978rem, 2vmax, 2.0913089304rem);
  text-align: center;
  font-weight: 400;
}

h4,
.h4 {
  font-size: clamp(1.140713962rem, 2vmax, 1.5209519494rem);
  text-align: center;
  font-weight: 400;
}

h5,
.h5 {
  font-size: clamp(0.7129462263rem, 2vmax, 0.9505949684rem);
  text-align: center;
  font-weight: 400;
}

* {
  color: #efefef;
  font-family: var(--font-aptos);
  font-size: 1rem;
  user-select: none;
}

button,
a {
  color: #021731;
  font-family: var(--font-mescla);
  font-size: 1.15rem;
}

.umn_gold {
  font-weight: bold;
  color: #e4b03b;
}

.umn-logo-text {
  font-family: mescla;
  position: fixed;
  font-size: 2rem;
  top: 3.5vmin;
  left: 3.5vmin;
  z-index: 100;
  height: 5vmin;
  transition: all 0.15s ease-in;
}
.umn-logo-text img {
  height: 100%;
  width: auto;
}
.umn-logo-text--light {
  color: #efefef;
}
.umn-logo-text--dark {
  color: #021731;
}

.umn-title {
  color: #e4b03b;
  display: flex;
  align-items: center;
  gap: 0.5ch;
  font-size: 2em;
}
.umn-title__abstract {
  margin-top: 0.25em;
  width: 1.3em;
  height: 1.3em;
  content: "";
  display: inline-block;
  clip-path: polygon(50% 0, 100% 0, 100% 30%, 35% 90%, 0 50%);
}
.umn-title--dark {
  color: #e4b03b;
}
.umn-title--dark .umn-title__abstract {
  background-color: #054779;
}
.umn-title--light {
  color: #efefef;
}
.umn-title--light .umn-title__abstract {
  background-color: #e4b03b;
}
@media screen and (max-width: 1000px) {
  .umn-title {
    font-size: 2rem;
  }
}

.umn-pattern {
  width: 100%;
  height: 100%;
}

.carrousel-item {
  border-radius: 80px;
  background: linear-gradient(0deg, rgba(229.0714285714, 243.2142857143, 253.9285714286, 0.25), rgba(180.0952380952, 220.9523809524, 251.9047619048, 0.25));
  padding: 3em 4em;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 1em;
  font-size: 0.8rem;
}
.carrousel-item__title {
  font-weight: bold;
  text-align: start;
}
.carrousel-item__text {
  width: 90%;
}
.carrousel-item__data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  margin: 0 4%;
}
.carrousel-item__data::after {
  content: "";
  display: block;
  position: absolute;
  background: #a88235;
  border-radius: 50px;
  height: 100%;
  width: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.carrousel-item__data::before {
  content: "";
  display: block;
  position: absolute;
  background: #a88235;
  border-radius: 50px;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1000px) {
  .carrousel-item__data {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-area: 0.5em;
    height: 40dvh;
    overflow: auto;
    scrollbar-width: 0.33rem;
    -ms-overflow-style: auto;
    /* For the entire scrollbar */
    /* For the track (background of the scrollbar) */
    /* For the thumb (the draggable part of the scrollbar) */
    /* For the thumb on hover (when the user hovers over the scrollbar) */
    /* For the scrollbar corner (where horizontal and vertical scrollbars meet) */
  }
  .carrousel-item__data::before, .carrousel-item__data::after {
    display: none;
  }
  .carrousel-item__data > * {
    border-bottom: 2px solid #a88235;
  }
  .carrousel-item__data > *:last-child {
    border-bottom: none;
  }
  .carrousel-item__data::-webkit-scrollbar {
    width: 0.33rem !important; /* Width of the scrollbar */
    height: 0.33rem !important; /* Height for horizontal scrollbar */
  }
  .carrousel-item__data::-webkit-scrollbar-track {
    background: rgba(205, 210, 215, 0.5); /* Light background color for track */
    border-radius: 10px; /* Rounded corners for the track */
    margin: 4px;
  }
  .carrousel-item__data::-webkit-scrollbar-thumb {
    background: rgba(239, 239, 239, 0.75); /* Darker color for the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    cursor: grab;
  }
  .carrousel-item__data::-webkit-scrollbar-thumb:hover {
    background: #cdd2d7; /* Darker color when hovered */
  }
  .carrousel-item__data::-webkit-scrollbar-corner {
    background: #ddd;
  }
}
.carrousel-item__data-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  place-items: start;
  place-content: start;
  padding: 0.75em;
}
.carrousel-item__data-item * {
  font-size: 0.8rem;
}
.carrousel-item__data-item__title {
  font-size: 1rem;
  font-weight: bold;
  text-align: start;
}
@media screen and (max-width: 1000px) {
  .carrousel-item__data-item__title {
    font-size: initial;
  }
}
@media screen and (max-width: 1000px) {
  .carrousel-item {
    padding: 2em;
    border-radius: 35px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pop-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.umn-logo {
  width: 12vmax;
  height: auto;
}
.umn-logo > * {
  width: 100%;
  height: auto;
}

.contact-btn {
  font-size: 1.1rem;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 0.25ch;
  padding: 0.125em;
  padding-left: 0.75ch;
  background-color: rgba(120, 133.5, 147, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 50px;
  border: 2px solid rgba(239, 239, 239, 0.5);
  animation: fade-in 0.5s ease-in-out 1 both;
  animation-delay: 5s;
}
.contact-btn__text {
  font-size: 0.85em;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-wrap: nowrap;
}
.contact-btn:hover .contact-btn__book {
  transform: scale(0.95);
}
.contact-btn:active .contact-btn__book {
  transform: scale(0.9);
}
.contact-btn .contact-btn__book {
  font-size: 0.9em;
  border-radius: 50px;
  padding: 0.5em 1em;
  margin: 0.1em;
  background-color: #efefef;
  display: flex;
  align-items: center;
  gap: 0.5ch;
  place-content: center;
  text-wrap: nowrap;
  transition: all 0.23s ease;
}
.contact-btn .contact-btn__book,
.contact-btn .contact-btn__book * {
  color: #021731;
}
.contact-btn .contact-btn__book svg {
  height: 1em;
}
@media screen and (max-width: 1000px) {
  .contact-btn {
    bottom: 11%;
  }
}

.slider-card {
  position: relative;
  height: 100%;
  width: 100vw;
  z-index: 0;
  display: flex;
  place-content: center;
  place-items: center;
  cursor: col-resize;
}
.slider-card__pane {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transition: all 0.85s ease-out;
  display: grid;
  align-items: center;
  padding-top: 15vh;
  overflow: hidden;
}
.slider-card__pane--left {
  background-color: #efefef;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.slider-card__pane--left * {
  text-align: left;
}
.slider-card__pane--left .umn-title {
  margin-left: -2.5em;
}
.slider-card__pane--left .slider-card__content {
  margin-left: 20vw;
}
.slider-card__pane--left .slider-card__content__item {
  border-bottom-color: #054779;
}
.slider-card__pane--left .slider-card__content__item span {
  color: #054779;
}
.slider-card__pane--left::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#e4b03b, #e4b03b);
  /* Thin polygon along the slanted edge: (100% 0) -> (75% 100%) */
  clip-path: polygon(100% 0, 75% 100%, calc(75% - 0.3em) 100%, calc(100% - 0.3em) 0);
  z-index: 3;
  pointer-events: none;
}
.slider-card__pane--right {
  background-color: #054779;
}
.slider-card__pane--right * {
  text-align: right !important;
  margin-left: auto;
  text-wrap: nowrap;
}
.slider-card__pane--right .umn-title {
  margin-right: -2.5em;
}
.slider-card__pane--right .slider-card__content {
  margin-right: 20vw;
}
.slider-card__pane--right .slider-card__content__item {
  border-bottom-color: #efefef;
}
.slider-card__content {
  width: 60vw;
  padding-top: 10vh;
  height: 100%;
  display: flex;
  align-content: center;
  gap: 1em;
  flex-direction: column;
}
.slider-card__content__item {
  width: 100%;
  border-bottom: 2px solid;
  padding: 0.5em 0em;
}
.slider-card__content__item span {
  font-size: 1.5em;
  display: inline-block;
}
@media screen and (max-width: 1000px) {
  .slider-card__pane--left .umn-title {
    margin-left: -1em;
  }
  .slider-card__pane--left .slider-card__content {
    margin-left: calc(10vw + 1em) !important;
  }
  .slider-card__pane--right .umn-title {
    margin-right: -1em;
  }
  .slider-card__pane--right .slider-card__content {
    margin-right: calc(10vw + 1em) !important;
  }
  .slider-card__content {
    width: 80vw;
    padding-top: 5vh;
  }
  .slider-card__content__item span {
    display: block;
    font-size: 1.05em;
    font-weight: bold;
    padding: 0.25em 0;
    white-space: wrap;
    width: 65%;
  }
}

.fade-in-image {
  opacity: 0 !important;
  transition: all 0.5s ease-out;
}
.fade-in-image--loaded {
  opacity: 1 !important;
}

.theme-light {
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}

.theme-dark {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}

:root {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}

.embla {
  margin: auto;
  --slide-height: 50dvh;
  --slide-spacing: 1rem;
  --slide-size: 50vw;
  overflow: hidden;
  width: 100%;
  height: 100% !important;
}
@media screen and (max-width: 1000px) {
  .embla {
    --slide-height: 50dvh;
    --slide-size: 80vw;
  }
}

.embla__viewport {
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
  align-items: space-between;
  touch-action: pan-y pinch-zoom;
  position: absolute;
  inset: 0;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  margin: auto 5vmin;
}
@media screen and (max-width: 1000px) {
  .embla__slide {
    margin: auto 2vmin;
  }
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(239, 239, 239, 0.3);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: #054779 !important;
}
.embla__button:hover {
  transform: scale(0.95) "";
}
.embla__button:active {
  transform: scale(0.85) "";
}
.embla__button--prev {
  left: 4vmin;
}
.embla__button--next {
  right: 4vmin;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
  border: 1px solid #efefef;
  background: transparent;
  transition: all 0.5s ease;
}

.embla__dot--selected:after {
  background: linear-gradient(0deg, rgba(229.0714285714, 243.2142857143, 253.9285714286, 0.8), rgba(180.0952380952, 220.9523809524, 251.9047619048, 0.8));
}

.landing {
  border: 1px solid red;
}
.landing__scroll-down {
  position: absolute;
  bottom: 12.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: glow 0.5s ease-in-out 1 both;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-delay: 3s;
  animation-duration: 2.5s;
  font-size: 0.75rem;
}
.landing__scroll-down * {
  font-size: inherit;
}
.landing__scroll-down svg {
  width: 1.5em;
}

@keyframes scalling-glow {
  50% {
    transform: rotate(90deg) scale(1.05);
    filter: contrast(1) saturate(0.95) blur(2px);
  }
}
@keyframes s2-no-rot {
  50% {
    transform: scale(1.05);
    filter: contrast(1) saturate(0.95) blur(2px);
  }
}
.about {
  position: relative;
  /* Firefox */
  padding-top: 0;
}
.about__bg {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: -1;
  transform: rotate(90deg);
  width: 50%;
  height: auto;
  opacity: 0.5;
  filter: contrast(1.25) saturate(1.05) blur(0.5px);
  animation: scalling-glow infinite 15s both linear;
}
@media screen and (max-width: 1000px) {
  .about__bg {
    width: 100%;
    height: auto;
    transform: rotate(0deg);
    animation-name: s2-no-rot;
  }
}
.about__scrollable {
  height: 100%;
  width: 50%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  /* IE 10+ (legacy Edge) */
  -ms-overflow-style: none;
  /* Chrome / Safari / new Edge */
}
.about__scrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* optional */
}
.about__scrollable > * {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
  padding: 1.5em;
  padding-left: 3em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  place-items: center;
}
@media screen and (max-width: 1000px) {
  .about__scrollable {
    width: 100%;
  }
}
.about__heading * {
  font-weight: bold;
  text-shadow: 2px 2px 20px rgba(239, 239, 239, 0.25);
}
.about__heading > * {
  display: flex;
  gap: 1ch;
}
.about__heading--gold {
  color: #e4b03b;
}
.about__text {
  font-size: 1.5rem;
}

section.whatwedo {
  background-color: #efefef;
  place-content: start;
  place-items: start;
  padding-top: 0;
}

section.solutions {
  background: linear-gradient(35deg, rgb(2.9761904762, 42.2619047619, 72.0238095238), rgb(7.0238095238, 99.7380952381, 169.9761904762));
}
section.solutions .umn-pattern {
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 200%;
  height: 100%;
}
section.solutions .umn-title {
  align-self: flex-start;
  margin-left: 2.5ch;
}
section.solutions .carousel {
  width: 100%;
}

.team {
  background-color: #efefef;
  padding-left: 5%;
  display: grid;
  grid-template-columns: minmax(auto, 40%) max-content;
  grid-template-rows: 30% 70%;
  grid-template-areas: "title photo" "text photo";
  gap: 1em;
}
.team__title {
  align-self: end;
  justify-self: start;
  margin-bottom: 1.5em;
}
.team__text-wrapper {
  align-self: start;
  grid-area: text;
}
.team__text {
  color: #054779;
  max-width: 50ch;
  font-size: 1.5rem;
  padding-left: 3em;
}
.team__photo {
  grid-area: photo;
  height: 100%;
  width: auto;
  place-self: end;
}
.team__photo img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .team {
    display: flex;
    place-content: center;
    place-items: center;
  }
  .team__title {
    margin: 0;
    margin-top: auto;
    align-self: start;
  }
  .team__text {
    font-size: 1.1rem;
    padding: 0 2em;
    place-self: center;
  }
  .team__photo {
    height: 50vh;
    margin-top: auto;
  }
}

@keyframes blurry {
  50% {
    filter: blur(0px) contrast(1.25);
  }
}
.contact-us__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  filter: blur(25px) contrast(1.5);
  opacity: 0.25;
  animation: blurry 10s ease-in-out infinite both;
  z-index: -1;
}

/*# sourceMappingURL=sass-main.css.map */
