@use "sass:color";

//UMN Blue
$primary500: #054779;

$primary050: color.adjust($primary500, $lightness: 70%);
$primary150: color.adjust($primary500, $lightness: 60%);
$primary300: color.adjust($primary500, $lightness: 22.5%);
$primary400: color.adjust($primary500, $lightness: 10%);
//500
$primary600: color.adjust($primary500, $lightness: -10%);
$primary900: #021731;

//UMN Gold
$secondary400: #e4b03b;
$secondary500: #a88235;

//UMN Gray
$tertiary500: #cdd2d7;

// Black / White
$light: #efefef;
$dark: $primary900;

//Text
$text-light: $light;
$text-dark: $dark;
$text-secondary: $primary500;
$text-tertiary: $secondary400;

@mixin svg-dark() {
	filter: invert(11%) sepia(12%) saturate(3964%) hue-rotate(178deg)
		brightness(45%) contrast(107%);
}

//titles?/notes?/that golden thingy?

//Gradients
$blueGrad1: linear-gradient(-35deg, $primary600, $primary400);
$blueGrad2: radial-gradient(rgba($primary500, 0.85), rgba($primary600, 0.85));
$blueGrad3: linear-gradient(-35deg, $primary900, $primary600);
$blueGrad4: linear-gradient($primary400, $primary600);
//FIX: bluegrad1 and bluegrad4 are equal lol with functions theyre redundant
@function blueGrad1($opacity: 1, $angle: 35deg) {
	@return linear-gradient(
		$angle,
		rgba($primary600, $opacity),
		rgba($primary400, $opacity)
	);
}
@function blueGrad4($opacity: 1, $angle: 180deg) {
	@return linear-gradient(
		$angle,
		rgba($primary400, $opacity),
		rgba($primary600, $opacity)
	);
}
@function lightGrad($opacity: 0.25, $angle: 0deg) {
	@return linear-gradient(
		$angle,
		rgba($primary050, $opacity),
		rgba($primary150, $opacity)
	);
}
$lightBlueGrad: linear-gradient(
	90deg,
	rgba($primary050, 0.35),
	rgba(color.adjust($primary300, $lightness: 35%), 0.35)
);
@function lightBlueGrad($opacity: 0.35, $angle: 135deg) {
	@return linear-gradient(
		$angle,
		rgba($primary050, $opacity),
		rgba(color.adjust($primary300, $lightness: 15%), $opacity)
	);
}
$goldenGrad1: linear-gradient(
	$secondary500,
	color.adjust($secondary500, $lightness: -20%)
);

$grayGrad1: linear-gradient(
	$tertiary500,
	color.adjust($tertiary500, $lightness: -60%)
);
$grayGrad2: linear-gradient(rgba($primary050, 1), $primary900);

@function grayGrad2($opacity: 1, $angle: 180) {
	@return linear-gradient(
		#{$angle}deg,
		rgba($primary400, $opacity),
		rgba($primary600, $opacity)
	);
}
