@use "../abstract/colors" as colors;
@use "../abstract/animations" as animations;
@use "../abstract/media-queries" as media-queries;
@use "sass:color";
.contact-btn {
	font-size: 1.1rem;
	position: fixed;
	bottom: 13.75%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	display: flex;
	align-items: center;
	gap: 0.25ch;
	padding: 0.125em;
	padding-left: 0.75ch;
	background-color: rgba(
		color.adjust(colors.$tertiary500, $lightness: -30%),
		0.8
	);
	backdrop-filter: blur(2px);
	border-radius: 50px;
	border: 2px solid rgba(colors.$light, 0.5);

	@include animations.fade-in;
	animation-delay: 5s;

	&__text {
		font-size: 0.85em;
		font-weight: bold;
		padding: 0.25em 0.5em;
		text-wrap: nowrap;
	}

	&:hover &__book {
		transform: scale(0.95);
	}
	&:active &__book {
		transform: scale(0.9);
	}

	.contact-btn__book {
		font-size: 0.9em;
		border-radius: 50px;
		padding: 0.5em 1em;
		margin: 0.1em;
		background-color: colors.$light;
		display: flex;
		align-items: center;
		gap: 0.5ch;
		place-content: center;
		text-wrap: nowrap;
		transition: all 0.23s ease;
		&,
		* {
			color: colors.$dark;
		}

		svg {
			height: 1em;
		}
	}

	@include media-queries.mobile-portrait {
		bottom: 11%;
	}
}
